.banner {
  background: $secondary-color;
  color: $light-color;
  margin: 1rem;
  min-height: calc(100vh - 10rem);
  padding: 0.4rem;

  &__inner {
    @extend %flex;
    @extend %flex-center;
    border: double 0.25rem $light-color;
    flex-flow: column;
    min-height: calc(100vh - 10.4rem);
  }

  &__title,
  &__content {
    padding: 1rem;
  }

  &__title {
    //display: none;
    font-weight: 700;
  }

  &__content {
    max-width: 52rem;
  }
}
