.banner {
  background: $secondary-color;
  color: $light-color;
  margin: 1rem;
  min-height: calc(85vh - 2rem);
  padding: 0.4rem;

  &__inner {
    @extend %flex;
    @extend %flex-center;
    border: double 0.25rem $light-color;
    flex-flow: column;
    min-height: calc(85vh - 2.4rem);
  }

  &__title {
    padding: 1rem;
    display: none;
    font-weight: 700;
  }

  &__content {
    padding: 0 1rem;
    max-width: 52rem;
  }
}
