.info-tile {
  color: $mid-color;
  padding: 3rem 1rem 1rem;

  &__title {
    @extend %no-margin;
    color: $text-color;
    font-size: 1.05rem;
    font-weight: 700;
    text-align: center;
  }

  &__description {
    @extend %no-margin;
    padding: 1rem 0;
  }

  &__link {
    color: $link-color;
    text-decoration: none;

    &:hover {
      background: $link-hover-color;
    }
  }
}
