$primary-color: #000084;
$secondary-color: #0aa;
$text-color: #fff;

$dark-color: #000;
$mid-color: #bbb;
$link-color: #fefe54;
$link-hover-color: #aa5500;

$main-font: "Roboto Mono", monospace;
$shadow: 10px 10px 0 0 $dark-color;
