$primary-color: #000084;
$secondary-color: #0aa;

$light-color: #fff;
$mid-color: #bbb;
$dark-color: #000;
$link-color: #fefe54;

$main-font: 'Roboto Mono', monospace;
$shadow: 10px 10px 0 0 $dark-color;
